@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
* {
    font-family: 'Lexend Deca';
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
}
.box{
    display: block;
    width: 250px;
    height: 400px;
}
.img{
    height: 30px;
    margin-left: 30px;
    margin-top: 30px;
}
#card1{
    background-color:  hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#card2{
    background-color: hsl(184, 100%, 22%);
}
#card3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#b1{
    color: hsl(31, 77%, 52%);
}
#b2{
    color: hsl(184, 100%, 22%);
}
#b3{
    color: hsl(179, 100%, 13%);
}
.heading{
    margin-left: 30px;
    font-family: "Big Shoulders Display";
    color: hsl(0, 0%, 95%);
}
p{
    margin-left: 35px;
    margin-right: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    line-height: 1.67;
}
.button{
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 25px;
    width: 80px;
    padding: 10px 25px;
    font: 0.85em 'Lexend Deca';
    border: 2px solid white;
    background-color: white;
}
#b1:hover,#b2:hover,#b3:hover{
   color: white;
    background-color: transparent;
}

/* For tablets */
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 30px;
    }
    .box {
        width: 45%; /* Adjusted box width for tablets */
    }
    .heading,
    .text,
    .button {
        margin: 10px; /* Adjusted margins for tablets */
    }
}

@media only screen and (max-width: 480px) {
    .container {
        margin-top: 20px;
        overflow-x: hidden; /* Hide horizontal scrolling */
        overflow-y: scroll; /* Enable vertical scrolling */
        white-space: normal; /* Reset white-space to normal */
        flex-direction: column; /* Stack cards vertically */
        height: 100vh; 
    }
    .box {
        width: 90vw; /* Full width for cell phones */
        display: block; /* Ensure each card appears in a line */
    }
}

}
